spring:
  application:
    name: cine-hex

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT:5432}/${DB_NAME}?sslmode=disable
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

  security:
    oauth2:
      resourceserver:
        jwt:
          # Debe apuntar a tu Auth Server
          issuer-uri: http://${AUTH_HOST}:${AUTH_SERVER_PORT}

  rabbitmq:
    host: ${RABBITMQ_HOST}  # ¡La IP pública o dominio de tu VPS!
    port: ${RABBITMQ_PORT}  # El puerto que configuraste en RabbitMQ
    username: ${RABBITMQ_USERNAME}  # ¡El usuario que creaste en RabbitMQ!
    password: ${RABBITMQ_PASSWORD}  # ¡La contraseña que creaste en RabbitMQ!


springdoc:
  api-docs:
    path: /api/v1/public/v3/api-docs # <--- ¡Aquí está la magia!
  swagger-ui:
    path: /api/v1/public/swagger-ui.html
server:
  port: ${SERVER_RESOURCE_PORT}
